    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About {{site.title}}</h2>
                <p>Broad Run Oaks is located in Gainesville, Virginia approximately 35 miles outside of Washington, D.C.
                The community was jointly constructed by Richmond American and Ryland homebuilders beginning in 2000.</p>
                <p>
                  {% include social.html %}
                </p>
                <p>Broad Run Oaks is a well-established community with access to great schools, local shopping and recreation. Residents enjoy access to the community tennis courts and the tranquility provided by abundant, natural common areas. The community also backs to the Virginia Oaks Golf Course, giving residents access to a luxurious 18-hole course.</p>
                
            </div>
        </div>
    </section>