    <!-- Area Section -->
    <section id="area" class="content-section text-center">
        <div class="area-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 area">
                    <h2>Area</h2>
                    <a href="{{ site.headerurl.areainformation }}" class="btn btn-primary btn-lg">
                      <span class="network-name">Area Info</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
