    <!-- Download Section -->
    <section id="area" class="content-section text-center">
        <div class="area-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 area">
                    <h2>Area</h2>
                    <a href="{{ site.headerurl.areainformation }}" class="btn btn-default btn-lg">
                      <span class="network-name">Area Info</span>
                    </a>
                    <h3>Area Schools</h3>
                    <a href="http://pineybranches.schools.pwcs.edu" class="btn btn-default btn-lg">
                      <span class="school-name">Piney Branch Elementary</span>
                    </a>
                    <a href="http://gainesvillems.schools.pwcs.edu" class="btn btn-default btn-lg">
                      <span class="school-name">Gainesville Middle School</span>
                    </a>
                    <a href="http://patrioths.schools.pwcs.edu" class="btn btn-default btn-lg">
                      <span class="school-name">Patriot High School</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
