    <!-- Download Section -->
    <section id="area" class="content-section text-center">
        <div class="area-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Area</h2>
                     <a href="{{ site.headerurl.areainformation }}">Area Info</a>
                    <h3>Area Schools</h3>
                    <a href="http://pineybranches.schools.pwcs.edu">Piney Branch Elementary</a>
                    <a href="http://gainesvillems.schools.pwcs.edu">Gainesville Middle School</a>
                    <a href="http://patrioths.schools.pwcs.edu">Patriot High School</a>

                </div>
            </div>
        </div>
    </section>
