    <!-- Map Section -->

    <section class="content-section text-center">
        <div id="map_section" class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Click The Globe For Directions</p>
                <p onclick = "window.location='https://www.google.com/maps/place/Broad+Run+Oaks/@38.7782337,-77.6129419,15z/data=!3m1!4b1!4m2!3m1!1s0x89b666fce64b110d:0xc95e47d13e174b9e'">
                  <i class="fa fa-globe fa-3x"></i>
                </p>
            </div>
        </div>
        <div id="map"></div>
    </section>
    
  
