<section id="schools" class="content-section text-center">
    <div class="schools-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 area">
                <h3>Area Schools</h3>
                <a href="http://pineybranches.schools.pwcs.edu" class="btn btn-primary btn-lg">
                  <span class="school-name">Piney Branch Elementary</span>
                </a>
                <a href="http://gainesvillems.schools.pwcs.edu" class="btn btn-primary btn-lg">
                  <span class="school-name">Gainesville Middle School</span>
                </a>
                <a href="http://patrioths.schools.pwcs.edu" class="btn btn-primary btn-lg">
                  <span class="school-name">Patriot High School</span>
                </a>
            </div>
        </div>
    </div>
</section>
